@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Montserrat+Alternates:wght@600;700;800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ef4444;       /* Crimson Red */
  --color-primary-dull: #b91c1c;  /* Dark Red */
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #ef4444 #1c1c1c;
}

body {
  color: #f8fafc;                /* Off-white */
  background-color: #1c1c1c;     /* Charcoal Black */
}

.no-scrollbar {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
